h1, p, a, span, b, small, input, button, select, textarea {
	font-family: 'Chau Philomene One',"Helvetica Neue",Helvetica,Arial,sans-serif !important;

}
body {
	margin: 0;
	width: 100%;
	height: 100%;
	background: #000 !important;
	color: #fff !important;
}

#header,
#footer,
#content {
	opacity: 1;
	transition: 0.5s;
	color: #fff;
}
#header {
	opacity: 0.75;
}
#header:hover {
	opacity: 0.75;
}
#footer:hover {
	opacity: 1;
}
#content:hover {
	opacity: 1;
}

#header h1 {
	font-style: italic;
	font-size: 5em;
	vertical-align: top;
	margin-top: 2%
}

#flavor {
	display: inline-block;
	margin-top: 1%
}
#flavor p {
	margin: 0 0 10px 0;
	text-decoration: underline;
	font-size: 0.9em;
}
#flavor ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 1.1em;
}
#flavor ul li {
	margin: 0 0 10px 0;
}
#flavor ul li:hover a {
	font-weight: bold;
}
#flavor ul li a {
	color: #fff;
	text-decoration: none;
}

.title,
.fullscreen {
	display: inline-block;
	margin: 1% 2%;
}
.fullscreen {
	float: right;
}
.fullscreen-btn {
	border: 0;
	background: none;
	line-height: 2em;
	font-size: 2em;
	outline: 0 none;
	color: #fff !important;
}
#fullscreen-expand {
	display: inline-block;
}
#fullscreen-exit {
	display: none;
}

#content {
	/* position: relative; */
	width: 100%;
	height: 100%;
}

#content #timer-input,
#content #timer-countdown {
	opacity: 0.8;
	margin: 0;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -45%);
	text-align: center;
}
#content #timer-input p {
	/* text-transform: uppercase; */
	font-weight: bold;
	font-size: 3em;
	line-height: 0.75em;
	color: #fff;
}
#content #timer-input p span {
	font-weight: bold;
	font-size: 0.5em;
	line-height: 0.5em;
	color: #fff;
}
#content #timer-input input {
	display: block;
	margin: 0 auto;
}
#content #timer-input input[type="time"],
#content #timer-countdown p {
	width: 100%;
	height: 100%;
	font-size: 1000%;
	font-size: calc(9*100vw/80);
	font-weight: bold;
	background-color: transparent;
	border: none;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    line-height: initial;
    color: #fff;
}
#content #timer-input input[type="time"]::-webkit-calendar-picker-indicator {
	font-size: 50%;
	filter: invert(100%);
	opacity: 0.5;
}
#content #timer-input input[type="time"]::-webkit-datetime-edit-text {
	font-size: 500%;
}
#content #timer-input button,
#content #timer-countdown button {
	text-transform: uppercase;
	font-size: 200%;
	font-weight: bold;
	padding: 1.5% 2%;
	border: 5px solid #fff;
	background-color: #fff;
	color: #000;
	mix-blend-mode: screen;
}
#content #timer-input button.pomodoro {
	text-transform: uppercase;
	font-size: 100%;
	font-weight: bold;
	padding: 1.5% 2%;
	color: #fff;
	border: 5px solid transparent;
	background-color: transparent;
	mix-blend-mode: screen;
}
#content #timer-countdown button {
	padding: 3% 4%;
}
#content #timer-input button:hover,
#content #timer-countdown button:hover {
	background-color: transparent;
	color: #fff;
}
#content #timer-input button.pomodoro:hover {
	border: 5px solid #fff;
}
#content #timer-input button:active,
#content #timer-countdown button:active {
	margin-top: -0.25%;
	margin-bottom: -0.25%;
	padding: 1.75% 2.25%;
}
#content #timer-countdown button:active {
	padding: 3.25% 4.25%;
}

#footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
	margin-bottom: 25px;	
}
#footer .bmc-btn-container {
	position: relative;
	display: inline-block;
	text-align: left;
}